.aboutBox {
  @include flex($justify: center);
  @include containerBox;
  .container {
    width: 90%;
    margin: 0;
    padding: 0;
  }
}
.employeeBox {
  @include containerBox($backgroundcolor: #006ed0);
}
.employeeTextBox {
  @include flex($justify: center, $direction: column, $wrap: nowrap);
  @include containerBox($height: 160px, $margin: 0, $padding: 0);
  box-sizing: border-box;
  border: 5px solid #006ed0;
}
.profilePicture {
  width: 130px;
  height: 130px;
  border-radius: 100px;
}
.employeeText {
  font-size: 1em;
  margin: 10px;
}
#sloganAbout {
  padding-top: 50px;
  margin-bottom: 0;
}
h5 {
  text-align: center;
  font-weight: 700;
  margin: 0;
}
@media (min-width: 550px) {
  .aboutBox {
    width: 70%;
  }
}
@media (min-width: 550px) {
  .six.columns {
    width: 92%;
  }
}
