
.contactBox {
  @include containerBox;
  width: 100%;
}
.centerText {
  padding: 25px 0px;
  text-align: center;
}
#MonstersIncCompanyPicture {
  width: 310px;
  border-radius: 4500px;
}

@media (min-width: 550px) {
  .contactBox {
    width: 60%;
  }
}

@media (min-width: 768px) {
  #MonstersIncCompanyPicture {
    width: 400px;
  }
}
