footer {
  .footer {
    // height: 150px;
    background: #ffffff;
  }
  .container {
    width: 100%;
    padding: 0;
    //   margin: 0;
  }
  .row {
    width: 100%;
  }
  .footerBox {
    width: 100%;
    @include flex($align: center, $justify: center);
  }
  .three {
    @include flex($align: center, $justify: space-around);
    height: 50px;
    width: 105px;
    margin: 5px 5px;
    //   background: #d9d9d9;
  }
  .button {
    width: fit-content;
    margin-bottom: 0;
    padding: 0 12px;
  }
  #copyright {
    background: #ffffff;
    padding-bottom: 10px;
    span {
      position: relative;
      margin: 10px;
    }
  }
}

.wrapper {
  box-sizing: border-box;
  position: relative;
  padding-bottom: 150px; /* Height of footer */
  min-height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (min-width: 345px) {
  footer {
    .container {
      width: 67%;
    }
  }
}
@media (min-width: 510px) {
  footer {
    .container {
      width: 100%;
    }
  }
}
