.productBox4 {
    @include flex($justify: center);
    background: #f5f5f5;
    max-width: 100%;
    height: 100%;
    border-radius: 25px;
    margin: 2rem 0;
    // margin-bottom: 20px;
    // padding: 30px 0px 0px 0px;
    // padding: 30px;
}
.textFull {
    width: 100%;
    height: 100%;
}
.spaceEdit {
    margin: 2rem 0 0 0;

}
.container {
    .freeform {
        height: 200px;
    }
}
.submitBtn {
    -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        height: 38px;
        padding: 0 20px;
        color: #ffffff;
        text-align: center;
        font-size: 13px;
        font-weight: 900;
        line-height: 38px;
        text-transform: uppercase;
        text-decoration: none;
        white-space: nowrap;
        background-color: #53CC5F;
        border-radius: 20px;
        border: 1px solid #53CC5F;
        cursor: pointer;
        box-sizing: border-box;
}
@media (min-width: 550px) {
    .productBox4 {
    width: 70%;
    }
}
@media (min-width: 768px) {
    .edit2 {
    width: 60%;
    }
}
@media (min-width: 1024px) {
    .six.columns {
    width: 45%;
    }
}