.productBox4 {
    @include flex($justify: center);
    @include containerBox ($padding: 0);
}
.textFull {
    width: 100%;
    height: 100%;
}
.spaceEdit {
    margin: 2rem 0 0 0;
}
.container {
    .freeform {
        height: 200px;
    }
}
.submitBtn {
    @include btn($textcolor: #ffffff, $width: 40%, $borderradius: 20px);
}
@media (min-width: 550px) {
    .productBox4 {
    width: 70%;
    }
}
@media (min-width: 768px) {
    .edit2 {
    width: 60%;
    }
}
@media (min-width: 1024px) {
    .six.columns {
    width: 45%;
    }
}