.productBox {
  @include flex($justify: center);
  @include containerBox();
  width: 100%;
  .container {
    width: 90%;
    margin: 0;
    padding: 0;
  }
}
.productxsBox {
  // background: #006ed0;
  width: 100%;
  margin: 2rem 0;
}
.pageBtn {
  appearance: none;
  @include btn();
}
.productTextBox {
  @include flex($justify: center, $direction: column, $wrap: nowrap);
  width: 100%;
  height: auto;
  margin: 0;
}
.productPic {
  width: 80%;
  border-radius: 100px;
  margin: 10px 0 5px 0;
}

@media (min-width: 550px) {
  .productBox {
    width: 70%;
  }
}
@media (min-width: 768px) {
  .edit {
    width: 92%;
  }
}
@media (min-width: 1024px) {
  .six.columns {
    width: 45%;
  }
}
