@import url("./normalize.css") layer(normalize);
@import url("./skeleton.css") layer(skeleton);
@layer normalize, skeleton, my-style;
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  height: 50px;
  background: #f5f5f5;
  z-index: 2;
}
header .headerContainer {
  height: 100%;
}
header .headerContainer .flexBox {
  height: 100%;
  display: flex;
  align-items: center;
}
header .headerContainer .flexBox .monsterLogoContainer {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}
header .headerContainer .flexBox .hamburgerContainer {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}
header .row .ten {
  height: 52px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header .row .two {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-right: 5px;
}
header #monsterLogo {
  padding-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
}

.hamburgerContainer {
  margin-left: 10px;
}
.hamburgerContainer .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.hamburgerContainer .menu > li {
  margin: 0 1rem;
}
.hamburgerContainer .menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hamburgerContainer #menu-toggle {
  display: none;
}
.hamburgerContainer .menu-button,
.hamburgerContainer .menu-button::before,
.hamburgerContainer .menu-button::after {
  display: block;
  background-color: rgb(0, 0, 0);
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
.hamburgerContainer .menu-button::before {
  content: "";
  margin-top: -8px;
}
.hamburgerContainer .menu-button::after {
  content: "";
  margin-top: 8px;
}
.hamburgerContainer #menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}
.hamburgerContainer #menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}
.hamburgerContainer #menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}
@media (max-width: 700px) {
  .hamburgerContainer .menu > li {
    overflow: hidden;
  }
  .hamburgerContainer .monsterLogoContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
  .hamburgerContainer .hamburgerContainer {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
  }
  .hamburgerContainer .menu-button-container {
    display: flex;
  }
  .hamburgerContainer .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .hamburgerContainer #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .hamburgerContainer #menu-toggle:checked ~ .menu li {
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .hamburgerContainer .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: black;
    background-color: #f5f5f5;
  }
  .hamburgerContainer .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

a {
  text-decoration: none;
  color: black;
}

footer .footer {
  background: #ffffff;
}
footer .container {
  width: 100%;
  padding: 0;
}
footer .row {
  width: 100%;
}
footer .footerBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
footer .three {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 50px;
  width: 105px;
  margin: 5px 5px;
}
footer .button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 0;
  padding: 0 12px;
}
footer #copyright {
  background: #ffffff;
  padding-bottom: 10px;
}
footer #copyright span {
  position: relative;
  margin: 10px;
}

.wrapper {
  box-sizing: border-box;
  position: relative;
  padding-bottom: 150px; /* Height of footer */
  min-height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.aboutBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: #f5f5f5;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 25px;
  margin: 2rem 0;
  padding: 30px 0px 0px 0px;
}
.aboutBox .container {
  width: 90%;
  margin: 0;
  padding: 0;
}

.flexCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.employeeBox {
  background: #006ed0;
  width: 100%;
  border-radius: 25px;
  margin: 2rem 0;
  padding: 0px 0px 0px 0px;
  margin: 20px 0px;
}

.employeeTextBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 160px;
  background: #f5f5f5;
  box-sizing: border-box;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  margin: 0;
}

.profilePicture {
  width: 130px;
  height: 130px;
  border-radius: 100px;
}

.employeeText {
  font-size: 1em;
  margin: 10px;
}

#sloganAbout {
  padding-top: 50px;
  margin-bottom: 0;
}

h5 {
  text-align: center;
  font-weight: 700;
  margin: 0;
}

@media (min-width: 550px) {
  .aboutBox {
    width: 70%;
  }
}
@media (min-width: 768px) {
  .edit {
    width: 92%;
  }
}
@media (min-width: 1024px) {
  .six.columns {
    width: 45%;
  }
}
.contactBox {
  background: #f5f5f5;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 25px;
  margin: 2rem 0;
  padding: 30px 0px 0px 0px;
  margin: 50px 0px;
}

.centerText {
  padding: 25px 0px;
  text-align: center;
}

#MonstersIncCompanyPicture {
  width: 310px;
  border-radius: 4500px;
}

@media (min-width: 550px) {
  .contactBox {
    width: 60%;
  }
}
@media (min-width: 768px) {
  #MonstersIncCompanyPicture {
    width: 400px;
  }
}
@layer my-style {
  html,
body {
    margin: 0;
    height: 100%;
  }
  body {
    background: #518eff;
  }
  .section {
    text-align: center;
    padding: 10rem 0 7rem;
  }
  .main {
    margin-top: 10rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/monsters-inc-1200-1200-675-675-crop-000000.jpeg);
    background-position: center;
    background-size: cover;
    color: #fff;
  }
  .mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .slogan {
    font-weight: 600;
    text-align: center;
    font-size: 3rem;
    padding-bottom: 4rem;
    color: white;
    text-shadow: 1px 1px 2px black;
  }
  .main #MonsterPNG {
    width: 157px;
    border-radius: 10px;
  }
  .main div div div:nth-child(3) {
    padding-top: 1rem;
  }
  .main #monsterLogoPNG {
    padding-top: 10rem;
  }
  .about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .about .container {
    margin: 0;
    padding: 0;
  }
  .whyUs {
    text-align: center;
    padding-top: 0rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .whyUs .container {
    margin: 0;
    padding: 0;
  }
  .box {
    background: #f5f5f5;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 25px;
    margin: 2rem 0;
  }
  .box h4 {
    padding-top: 2rem;
    font-weight: 500;
  }
  .box p {
    text-align: start;
    padding: 0 2rem;
  }
  .box .statContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0;
  }
  .box .statContainer .statBox {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 150px;
    height: 98px;
    background-color: #d9d9d9;
    border-radius: 10px;
    text-align: center;
    margin: 5px;
  }
  .box .statContainer .statBox .percent {
    color: #006ed0;
  }
  .box .statContainer .statBox .smallText {
    font-size: x-small;
  }
  .whyUs .box h4 {
    margin-bottom: 0;
  }
  .revBox {
    margin: 25px 10px;
    background: #d9d9d9;
    width: 315px;
    height: 88px;
    border-radius: 10px;
  }
  .revBox div {
    position: relative;
    left: 70px;
    width: 70%;
    text-align: start;
  }
  .revBox span {
    display: block;
    line-height: 1em;
  }
  .revBox .fa-star {
    position: relative;
    right: 115px;
    color: #bb9f06;
  }
  .revBox .fa-circle-user {
    position: relative;
    right: 145px;
    top: 35px;
  }
  .button-primary {
    background-color: #f5f5f5;
    color: #001a23;
  }
  @media (min-width: 550px) {
    .column {
      margin-left: 0;
    }
  }
}/*# sourceMappingURL=style.css.map */