@layer normalize, skeleton, my-style;

@import url("./normalize.css") layer(normalize);
@import url("./skeleton.css") layer(skeleton);

@import "./mixin";
@import "./header";
@import "./footer";
@import "./about\ us";
@import "./contact";
@import "./product";
@import "./reviews";
@import "./get_product";
@import "./leave_review";

@layer my-style {
  html,
  body {
    margin: 0;
    height: 100%;
  }

  body {
    background: #518eff;
  }
  .section {
    text-align: center;
  }
  .main {
    margin-top: 2rem;
    padding: 10rem 0 7rem;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../images/monsters-inc-1200-1200-675-675-crop-000000.jpeg);
    background-position: center;
    background-size: cover;
    color: #fff;
    height: 500px;
  }
  .mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .slogan {
    font-weight: 600;
    text-align: center;
    font-size: 3rem;
    padding-bottom: 4rem;
    color: white;
    text-shadow: 1px 1px 2px black;
  }
  .main {
    #MonsterPNG {
      width: 157px;
      border-radius: 10px;
    }
    div div div:nth-child(3) {
      padding-top: 1rem;
    }
    #monsterLogoPNG {
      padding-top: 10rem;
    }
  }
  .about {
    @include flex($justify: center);
    .container {
      margin: 0;
      padding: 0;
    }
  }
  .whyUs {
    text-align: center;
    padding-top: 0rem;
    @include flex($justify: center);
    .container {
      margin: 0;
      padding: 0;
    }
  }
  .box {
    background: #f5f5f5;
    width: 100%;
    height: fit-content;
    border-radius: 25px;
    margin: 2rem 0;
    h3 {
      font-size: 2.4rem;
      padding-top: 2rem;
      font-weight: 500;
    }
    p {
      text-align: start;
      padding: 0 2rem;
    }
  }
  .statContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    // padding: 20px 0 20px 0;
    .statBox {
      .percent {
        color: #006ed0;
      }
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center;
      min-width: 130px;
      min-height: 98px;
      background-color: #d9d9d9;
      border-radius: 10px;
      text-align: center;
      margin: 7px;
      padding: 2px;
      .smallText {
        font-size: x-small;
      }
    }
  }
  .whyUs {
    .box {
      h4 {
        margin-bottom: 0;
      }
    }
  }
  .revBox {
    @include flex();
    position: relative;
    margin: 25px 10px;
    background: #d9d9d9;
    width: 315px;
    height: 200px;
    border-radius: 10px;
    padding: 5px;
    .splitIcons {
      @include flex($direction: column, $align: center, $justify: center);
      height: 100%;
      width: 18%;
    }
    .iconDiv {
      @include flex($direction: column, $align: center, $justify: flex-start);
      height: 50%;
      .fa-star {
        padding-top: 7px;
      }
      div {
        width: 50%;
      }
    }
    .reviewText {
      @include flex($direction: column, $align: center, $justify: flex-start);
      background-color: #fff;
      box-sizing: border-box;
      border: 5px solid #d9d9d9;
      border-radius: 10px;
      max-width: 81%;
      height: 94%;
      text-overflow: ellipsis;
      padding: 2px;
    }
    // div {
    //   top: 25px;
    //   left: 70px;
    //   width: 70%;
    //   text-align: start;
    // }
    span {
      line-height: 1em;
      width: 100%;
      height: 100%;
      -webkit-line-clamp: 4;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      white-space: normal;
      display: -webkit-box !important;
      overflow: hidden;
    }
    .fa-star {
      color: #bb9f06;
    }
    .fa-circle-user {
      width: 40px;
    }
  }
  .button-primary {
    background-color: #f5f5f5;
    color: #001a23;
  }
  @media (min-width: 550px) {
    // .main {
    //   #monsterLogoPNG {
    //     padding-top: 0;
    //   }
    // }
    .column {
      margin-left: 0;
    }
  }
  // @media (min-width: 768px) {
  //   .main {
  //     #monsterLogoPNG {
  //       padding-top: 10rem;
  //     }
  //   }
  // }

  //---Classes for spacing---
  .space {
    margin: 2rem 0;
  }
  .center {
    @include flex($direction: row, $align: center, $justify: center);
  }

  //---Buttons---
  // .btn {
  //   display: inline-block;
  //   height: 38px;
  //   padding: 0 20px;
  //   color: #555;
  //   text-align: center;
  //   font-size: 13px;
  //   font-weight: 900;
  //   line-height: 38px;
  //   // letter-spacing: 0.1rem;
  //   text-transform: uppercase;
  //   text-decoration: none;
  //   white-space: nowrap;
  //   background-color: #53cc5f;
  //   border-radius: 5px;
  //   border: 1px solid #53cc5f;
  //   cursor: pointer;
  //   box-sizing: border-box;
  // }
  //---Align---
  .normalText {
    display: inline-block;
    text-align: start !important;
    width: 100%;
  }
}
