@import url("./normalize.css") layer(normalize);
@import url("./skeleton.css") layer(skeleton);
@layer normalize, skeleton, my-style;
@layer my-style {
  header {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    height: 50px;
    background: #f5f5f5;
    z-index: 2;
  }
  header .headerContainer {
    height: 100%;
  }
  header .headerContainer .flexBox {
    height: 100%;
    display: flex;
    align-items: center;
  }
  header .headerContainer .flexBox .monsterLogoContainer {
    width: 50%;
    display: flex;
    justify-content: flex-start;
  }
  header .headerContainer .flexBox .hamburgerContainer {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
  }
  header .row .ten {
    height: 52px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  header .row .two {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: 5px;
  }
  header #monsterLogo {
    padding-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
  }
  .hamburgerContainer {
    margin-left: 10px;
  }
  .hamburgerContainer .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .hamburgerContainer .menu > li {
    margin: 0 1rem;
  }
  .hamburgerContainer .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hamburgerContainer #menu-toggle {
    display: none;
  }
  .hamburgerContainer .menu-button,
.hamburgerContainer .menu-button::before,
.hamburgerContainer .menu-button::after {
    display: block;
    background-color: rgb(0, 0, 0);
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  .hamburgerContainer .menu-button::before {
    content: "";
    margin-top: -8px;
  }
  .hamburgerContainer .menu-button::after {
    content: "";
    margin-top: 8px;
  }
  .hamburgerContainer #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  .hamburgerContainer #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  .hamburgerContainer #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  @media (max-width: 700px) {
    .hamburgerContainer .menu > li {
      overflow: hidden;
    }
    .hamburgerContainer .monsterLogoContainer {
      width: 100%;
      display: flex;
      justify-content: flex-start;
    }
    .hamburgerContainer .hamburgerContainer {
      width: 20%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      padding-right: 10px;
    }
    .hamburgerContainer .menu-button-container {
      display: flex;
    }
    .hamburgerContainer .menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    .hamburgerContainer #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .hamburgerContainer #menu-toggle:checked ~ .menu li {
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .hamburgerContainer .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: black;
      background-color: #f5f5f5;
    }
    .hamburgerContainer .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
  }
  a {
    text-decoration: none;
    color: black;
  }
  footer .footer {
    background: #ffffff;
  }
  footer .container {
    width: 100%;
  }
  footer .footerBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  footer .three {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 50px;
    width: 105px;
    margin: 5px 5px;
  }
  footer .button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 0;
    padding: 0 12px;
  }
  footer #copyright {
    background: #ffffff;
    padding-bottom: 10px;
  }
  footer #copyright span {
    position: relative;
    margin: 10px;
  }
  .wrapper {
    box-sizing: border-box;
    position: relative;
    padding-bottom: 150px;
    min-height: 100%;
  }
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  @media (min-width: 379px) {
    footer .container {
      width: 72%;
    }
  }
  @media (min-width: 470px) {
    footer .container {
      width: 60%;
    }
  }
  @media (min-width: 575px) {
    footer .container {
      width: 40%;
    }
  }
  @media (min-width: 768px) {
    footer .container {
      width: 80%;
    }
  }
  .aboutBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #f5f5f5;
    max-width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 25px;
    margin: 2rem 0;
    padding: 30px 0 0 0;
  }
  .aboutBox .container {
    width: 90%;
    margin: 0;
    padding: 0;
  }
  .employeeBox {
    background: #006ed0;
    max-width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 25px;
    margin: 2rem 0;
    padding: 30px 0 0 0;
  }
  .employeeTextBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background: #f5f5f5;
    max-width: 100%;
    height: 160px;
    border-radius: 25px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 5px solid #006ed0;
  }
  .profilePicture {
    width: 130px;
    height: 130px;
    border-radius: 100px;
  }
  .employeeText {
    font-size: 1em;
    margin: 10px;
  }
  #sloganAbout {
    padding-top: 50px;
    margin-bottom: 0;
  }
  h5 {
    text-align: center;
    font-weight: 700;
    margin: 0;
  }
  @media (min-width: 550px) {
    .aboutBox {
      width: 70%;
    }
  }
  @media (min-width: 550px) {
    .six.columns {
      width: 92%;
    }
  }
  .contactBox {
    background: #f5f5f5;
    max-width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 25px;
    margin: 2rem 0;
    padding: 30px 0 0 0;
    width: 100%;
  }
  .centerText {
    padding: 25px 0px;
    text-align: center;
  }
  #MonstersIncCompanyPicture {
    width: 310px;
    border-radius: 4500px;
  }
  @media (min-width: 550px) {
    .contactBox {
      width: 60%;
    }
  }
  @media (min-width: 768px) {
    #MonstersIncCompanyPicture {
      width: 400px;
    }
  }
  .productBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #f5f5f5;
    max-width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 25px;
    margin: 2rem 0;
    padding: 30px 0 0 0;
    width: 100%;
  }
  .productBox .container {
    width: 90%;
    margin: 0;
    padding: 0;
  }
  .productxsBox {
    width: 100%;
    margin: 2rem 0;
  }
  .pageBtn {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 38px;
    padding: 0 20px;
    color: #191919;
    text-align: center;
    font-size: 13px;
    font-weight: 900;
    line-height: 38px;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: #53cc5f;
    border-radius: 5px;
    border: 1px solid #53cc5f;
    cursor: pointer;
    box-sizing: border-box;
  }
  .pageBtn:checked {
    background-color: #53cc5f;
    color: #ffffff;
    font-size: 14px;
  }
  .productTextBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
    margin: 0;
  }
  .productPic {
    width: 80%;
    border-radius: 100px;
    margin: 10px 0 5px 0;
  }
  @media (min-width: 550px) {
    .productBox {
      width: 70%;
    }
  }
  @media (min-width: 768px) {
    .edit {
      width: 92%;
    }
  }
  @media (min-width: 1024px) {
    .six.columns {
      width: 45%;
    }
  }
  .productBox3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #f5f5f5;
    max-width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 25px;
    margin: 2rem 0;
    padding: 30px 0 0 0;
  }
  .leaveReviewBtn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 38px;
    padding: 0 20px;
    color: #191919;
    text-align: center;
    font-size: 13px;
    font-weight: 900;
    line-height: 38px;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: #ccba53;
    border-radius: 20px;
    border: 1px solid #ccba53;
    cursor: pointer;
    box-sizing: border-box;
  }
  .leaveReviewBtn:checked {
    background-color: #53cc5f;
    color: #ffffff;
    font-size: 14px;
  }
  .reviewText {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
    box-sizing: border-box;
    border: 5px solid #d9d9d9;
    border-radius: 10px;
    max-width: 81%;
    height: 94%;
    text-overflow: ellipsis;
    padding: 2px;
  }
  .boxSize {
    width: 50%;
    box-sizing: border-box;
  }
  .revBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    margin: 25px 10px;
    background: #d9d9d9;
    width: 315px;
    height: 200px;
    border-radius: 10px;
    padding: 5px;
  }
  .revBox .splitIcons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 18%;
  }
  .revBox .iconDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    height: 50%;
  }
  .revBox .iconDiv .fa-star {
    padding-top: 7px;
  }
  .revBox .iconDiv div {
    width: 50%;
  }
  .revBox span {
    line-height: 1em;
    width: 100%;
    height: 100%;
    -webkit-line-clamp: 4;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    white-space: normal;
    display: -webkit-box !important;
    overflow: hidden;
  }
  .revBox .fa-star {
    color: #bb9f06;
  }
  .revBox .fa-circle-user {
    width: 40px;
  }
  @media (min-width: 550px) {
    .aboutBox {
      width: 70%;
    }
  }
  @media (min-width: 768px) {
    .edit {
      width: 92%;
    }
  }
  @media (min-width: 1024px) {
    .six.columns {
      width: 45%;
    }
  }
  .productBox2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #f5f5f5;
    max-width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 25px;
    margin: 2rem 0;
    padding: 30px;
  }
  .productBox2 .container {
    width: 90%;
    margin: 0;
    padding: 0;
  }
  .numberBoxPos {
    position: absolute;
    display: inline-block;
    left: calc(50% - 15px);
    top: -15px;
  }
  .numberBoxPos .numberBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 30px;
    height: 30px;
    background-color: #003444;
    color: white;
    border-radius: 200px;
  }
  .buttonBox .container {
    width: 100%;
  }
  .bBox {
    padding: 10px;
  }
  .selectBtn {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 38px;
    padding: 0 20px;
    color: #191919;
    text-align: center;
    font-size: 13px;
    font-weight: 900;
    line-height: 38px;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: #D9D9D9;
    border-radius: 20px;
    border: 1px solid #006ED0;
    cursor: pointer;
    box-sizing: border-box;
  }
  .selectBtn:checked {
    background-color: #006ED0;
    color: #ffffff;
    font-size: 14px;
  }
  .selectBtn.oldAddress::before {
    content: "Old Address";
  }
  .selectBtn.newAddress::before {
    content: "New Address";
  }
  .selectBtn.apartment::before {
    content: "Apartment";
  }
  .selectBtn.house::before {
    content: "House/Villa";
  }
  .buyBtn {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 38px;
    padding: 0 20px;
    color: #191919;
    text-align: center;
    font-size: 13px;
    font-weight: 900;
    line-height: 38px;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: #CCBA53;
    border-radius: 20px;
    border: 1px solid #CCBA53;
    cursor: pointer;
    box-sizing: border-box;
  }
  .buyBtn:checked {
    background-color: #ac9c3e;
    color: #ffffff;
    font-size: 14px;
  }
  .buyBtn.getPrice::before {
    content: "Get price";
  }
  .opacity {
    opacity: 0.5;
  }
  .productGetBox {
    background: #DFDFDF;
    width: 100%;
    margin: 2rem 0;
    position: relative;
  }
  @media (min-width: 550px) {
    .productGetBox {
      width: 70%;
    }
  }
  @media (min-width: 768px) {
    .edit {
      width: 92%;
    }
  }
  @media (min-width: 1024px) {
    .six.columns {
      width: 45%;
    }
  }
  .productBox4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #f5f5f5;
    max-width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 25px;
    margin: 2rem 0;
    padding: 0;
  }
  .textFull {
    width: 100%;
    height: 100%;
  }
  .spaceEdit {
    margin: 2rem 0 0 0;
  }
  .container .freeform {
    height: 200px;
  }
  .submitBtn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 38px;
    padding: 0 20px;
    color: #ffffff;
    text-align: center;
    font-size: 13px;
    font-weight: 900;
    line-height: 38px;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: #53cc5f;
    border-radius: 20px;
    border: 1px solid #53cc5f;
    cursor: pointer;
    box-sizing: border-box;
  }
  .submitBtn:checked {
    background-color: #53cc5f;
    color: #ffffff;
    font-size: 14px;
  }
  @media (min-width: 550px) {
    .productBox4 {
      width: 70%;
    }
  }
  @media (min-width: 768px) {
    .edit2 {
      width: 60%;
    }
  }
  @media (min-width: 1024px) {
    .six.columns {
      width: 45%;
    }
  }
  .section {
    text-align: center;
  }
  .main {
    padding: 10rem 0 7rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/monsters-inc-1200-1200-675-675-crop-000000.jpeg);
    background-position: center;
    background-size: cover;
    color: #fff;
    height: 500px;
  }
  .mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .slogan {
    font-weight: 600;
    text-align: center;
    font-size: 3rem;
    padding-bottom: 4rem;
    color: white;
    text-shadow: 1px 1px 2px black;
  }
  .main #MonsterPNG {
    width: 157px;
    border-radius: 10px;
  }
  .main div div div:nth-child(3) {
    padding-top: 1rem;
  }
  .main #monsterLogoPNG {
    padding-top: 10rem;
  }
  .about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .about .container {
    margin: 0;
    padding: 0;
  }
  .whyUs {
    text-align: center;
    padding-top: 0rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .whyUs .container {
    margin: 0;
    padding: 0;
  }
  .box {
    background: #f5f5f5;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 25px;
    margin: 2rem 0;
  }
  .box h2 {
    font-size: 2.4rem;
    padding-top: 2rem;
    font-weight: 500;
  }
  .box p {
    text-align: start;
    padding: 0 2rem;
  }
  .statContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .statContainer .statBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    min-width: 130px;
    min-height: 98px;
    background-color: #d9d9d9;
    border-radius: 10px;
    text-align: center;
    margin: 7px;
    padding: 2px;
  }
  .statContainer .statBox .percent {
    color: #00327D;
  }
  .statContainer .statBox .smallText {
    font-size: x-small;
  }
  .whyUs .box h4 {
    margin-bottom: 0;
  }
  html,
body {
    margin: 0;
    height: 100%;
    background: #518eff;
  }
  .button-primary {
    background-color: #f5f5f5;
    color: #001a23;
  }
  @media (min-width: 550px) {
    .column {
      margin-left: 0;
    }
    .noMargin {
      margin-left: 0;
    }
  }
  @media (min-width: 1024px) {
    .noMargin {
      margin-left: 4%;
    }
  }
  .space {
    margin: 2rem 0;
  }
  .flexRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .normalText {
    display: inline-block;
    text-align: start !important;
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */